@model IEnumerable<CadeMeuMedico.Models.Medicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-controller="Medicos" asp-action="Adicionar">Criar novo médico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Especialidade.Especialidade)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cidade.Cidade)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Especialidade.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.Cidade)
            </td>
            <td>
                @Html.ActionLink("Editar","Editar",new{id=item.Id},new{@class="btn btn-dark"})
                <a asp-action="Index" class="btn btn-success">Detalhes</a>
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
